* {
    box-sizing: border-box;
}

html body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    position: absolute;
}

h1 {
    margin: 0 auto;
}

p {
    margin: 5.5px;
}

a {
    text-decoration: none;
    color: rgb(234, 209, 47);
}

a:hover {
    text-decoration: none;
    color: rgb(234, 209, 47);
}

.top {
    margin-left: 0;
    position: fixed;
    height: 50%;
    width: 100%;
    background-color: rgb(231, 232, 225);
}

.nav {
    position: relative;
    z-index: 1;
    padding-top: 10px;
}

.bold {
    font-weight: 700;
    font-size: 15px;
}

.title-content-all {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 10px;
    padding-bottom: 55px;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(234, 209, 47);
    padding-left: 20px;
}

.title-absolute {
    position: absolute;
    width: 100%;
    top: 10px;
    padding-left: 20px;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgb(205, 206, 199);
}

.home-link {
    transition: color 1s ease;
    text-decoration: none;
    color: rgb(231, 232, 225);
}

.home-link:hover {
    transition: color 1s ease;
    text-decoration: none;
    color: rgb(234, 209, 47);
}


/* HOME PAGE */

.link {
    transition: color 0.7s ease;
    color: white;
    text-decoration: none;
}

.link:hover {
    transition: color 1s ease;
    color: rgb(234, 209, 47);
    text-decoration: none;
}

#image-picture {
    height: 300px;
    width: 375px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -187.5px;
    clip: rect(0px, 375px, 300px, 0px);
}

#image-all {
    text-align: center;
}

#image-all img {
    width: 100%;
    max-width: 300px;
    height: auto;
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease;
    -moz-filter: grayscale(100%);
    -moz-transition: .5s ease;
    -o-filter: grayscale(100%);
    -o-transition: .5s ease;
    filter: grayscale(100%);
}

#image-all img:hover {
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease;
    filter: grayscale(0%);
}


/* about page */

.skills {
    width: 100%;
}

#skills-wrap .top {
    position: relative;
}

.about {
    margin: 0 auto;
    width: 900px;
}

#skills-wrap {
    width: 350px;
    padding-left: 40px;
    padding-top: 48px;
    float: left;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

#skills-wrap #skills {
    float: left;
    clear: both;
    padding-right: 30px;
}

.circle {
    float: left;
    display: inline;
    border: 5px solid black;
    text-align: center;
    height: 90px;
    width: 90px;
    line-height: 80px;
    margin-right: 8px;
    border-radius: 50%;
}

.arrow-line {
    height: 700px;
    width: 3px;
    background-color: black;
    float: left;
    margin-left: 20px;
    position: absolute;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid black;
    margin-left: 12px;
    top: 50px;
    position: absolute;
    z-index: 1;
}

#education-wrap {
    padding-top: 60px;
    padding-left: 40px;
    margin: 0 auto;
    float: left;
    width: 50%;
}


/* Contact Page */



#contact-info-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    margin-top: -150px;
    
    
}

#contact-info {
    margin: 0 auto;
    background-color: white;
    border: 3px solid rgb(234, 209, 47);
    text-align: center;
    height: 300px;
    width: 300px;
    padding-top: 35px;
}

#contact-info h3 {
    font-weight: 400;
    color: lightgray;
}

#first-circle {
    margin-left: 90px;
}

.circle-black {
    border: 2px solid blue;
    width: 50px;
    height: 50px;
    line-height: 45px;
    color: black;
    transition: color 1s ease, border 1s ease;
}




/* Work Page */

.container {
    width: 100%;
    margin: 0 auto;
    top: 50px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.one-proj {
    position: relative;
    width: 100%;
    padding: 17px;
}


.one-proj img {
    position: relative;
    width: 100%;
}

.overlay{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* PROJ Page */

.proj-text{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    
}


/* iPhone */

@media (min-width: 320px) {
    h1 {
        font-size: 20px;
    }
    .title {
        font-size: 40px;
    }
    .footer {
        font-size: 30px;
    }
    p {
        font-size: 14px;
    }
    .circle {
        font-size: 15px;
    }
    #image-picture {
        margin-top: -150px;
    }
    .arrow {
        visibility: hidden;
    }
    .about {
        width: 500px;
    }
}


/* Desktop */

@media (min-width: 900px) {
    h1 {
        font-size: 20px;
    }
    .title {
        font-size: 50px;
        padding-left: 50px;
    }
    .footer {
        font-size: 30px;
    }
    p {
        font-size: 16px;
    }
    .circle {
        font-size: 15px;
    }
    #skills-wrap {
        margin-top: 250px;
    }
    #image-picture {}
    #education-wrap {
        padding-top: 10px;
        width: 50%;
    }
    #education-wrap h1 {
        padding-left: 40px;
    }
    #education-wrap p {
        padding-left: 50px;
    }
    .arrow {
        visibility: visible;
    }
    .about {
        width: 900px;
    }
    .container {
        padding: 10px; 
    }
    .one-proj {
        position: relative;
        width: calc(33.333% - 40px);
        margin: 20px;
        padding: 0;
    }
    .one-proj img {
        margin: 0; 
        padding: 0;
    }
    .overlay {
        
        position: absolute;
        top:0;
        
        width: 100%;
        height: 100%;
        
        padding: 15px;
        margin: 0;
        
        background: rgba(255,255,255,0.8);
        opacity: 0;
        
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        transition: opacity .5s ease-out;
    }
    .one-proj:hover .overlay {
        opacity: 1;
    }
    
    
    .overlay h2 {
        color: grey;
        font-size: 25px;
}
    #contact-info a:hover {
        text-decoration: underline;
        color: lightgray;
        transition: color 1s ease, border 1s ease;
}


    .circle-black:hover {
        color: rgba(0, 0, 0, 0.5);
        border: 2px solid lightgray;
        transition: color 1s ease, border 1s ease;
}
    
    .proj-text{
    margin-left: 50px;
    max-width: 800px;
    
}


    
}