.container{
    width: 350px;
    height: 250px;
    border: solid 8px rosybrown;
    margin: 0 auto;
    text-align: center;
}


h1{
    color: bisque;
}

p{
    font-family: sans-serif;
    color: darkgray;
    margin: 4px;
    line-height: 25px;
    border-bottom: 2px solid rosybrown;
}

a{
    line-height: 46px;
    text-decoration: none;
    color: rosybrown;
}